@import 'application/vars';
@import 'components/CoffeeBeanCard';
@import 'components/CoffeeBeanSelectButton';
@import 'components/ShopCard';
@import 'components/Navigation';

.AppPage {
  $height-header: 65px;

  .AppPage--Heading {
    font-size: 1.25rem;
    text-align: center;
    padding: 12px;
  }

  .AppPage--Content {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;
    padding-bottom: $height-header;

    .AppPage--Content--Deadline {
      text-align: center;

      .Icon {
        margin-right: 8px;
      }

      span {
        display: inline-block;
        color: $color-text-secondary;
        font-size: 0.875rem;
        background: $color-shadow;
        padding: 4px 24px;
        border-radius: 16px;
      }
    }

    .AppPage--Content--CoffeeBeanList {
      display: flex;
      width: 100%;
      /* overflow: visible; */
      overflow: scroll;
      -webkit-overflow-scrolling: auto;
      will-change: transform;

      .AppPage--Content--CoffeeBeanList--Item {
        $width: 100%;
        flex: 1;
        width: $width;
        min-width: $width;
        max-width: $width;
        padding: 12px;
      }
    }

    .AppPage--Content--Shop {
      width: 100%;
      padding: 0 12px;
    }

    .AppPage--Content--Link {
      width: 100%;
      padding: 12px;
      text-align: right;
    }

    .AppPage--Content--Skip {
      $size: 1.5rem;
      width: 100%;
      padding: 24px 12px;

      .AppPage--Content--Skip--Label {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - $size * 2);
      }

      .AppPage--Content--Skip--Checkbox {
        display: inline-block;
        vertical-align: top;

        input[type='checkbox'] {
          position: relative;
          display: inline-block;
          width: calc($size * 1.75);
          height: $size;
          border-radius: calc($size / 2);
          background: $color-shadow;
          transition: background 200ms ease-in-out;

          &::after {
            position: absolute;
            display: inline-block;
            position: absolute;
            top: 1px;
            left: 1px;
            content: '';
            width: calc($size - 2px);
            height: calc($size - 2px);
            border-radius: 50%;
            background: $color-white;
            transition: left 200ms ease-in-out;
          }

          &:checked {
            background: $color-text-attention;

            &::after {
              left: calc(100% - $size + 1px);
            }
          }
        }
      }

      .AppPage--Content--Skip--Attention {
        color: $color-text-secondary;
        font-size: 0.75rem;
      }
    }
  }

  .Navigation {
    height: $height-header;
  }
}
