@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/CoffeeBeanCard';

.AppPage {
  .AppPage--Content {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    .AppPage--Content--CoffeeBeanList {
      display: flex;

      .AppPage--Content--CoffeeBeanList--Item {
        flex: 1;
        display: inline-block;
      }
    }
  }
}
