@import 'application/vars';

.CoffeeBeanCard {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 2px $color-text-secondary;
  background: $color-white;
  overflow: hidden;
  border-radius: 12px;

  .CoffeeBeanCard--Image {
    position: relative;
    padding-top: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      vertical-align: top;
    }
  }

  .CoffeeBeanCard--Content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    color: $color-white;
    background: rgba(0, 0, 0, .4);

    h2 {
      margin-bottom: 4px;
      font-size: 1rem;
      font-weight: $font-bold;
    }
  }
}
