@import 'application/vars';

.CoffeeBeanShowPage {
  .CoffeeBeanShowPage--CoffeeBean {
    padding: 16px 8px;
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
}
