@import 'application/vars';
@import 'components/CoffeeBeanSelectButton';
@import 'components/ShopCard';

.CoffeeBeanPage {
  .CoffeeBeanPage--CoffeeBeanImage {
    img {
      width: 100%;
      height: auto;
    }
  }

  .CoffeeBeanPage--CoffeeBean {
    padding: 12px;
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    h1 {
      font-size: 1.5rem;
      font-weight: $font-bold;
      margin-bottom: 12px;
    }

    p {
      margin: 12px 0;
    }

    .CoffeeBeanSelectButton {
      margin: 12px 0;
    }

    .CoffeeBeanPage--CoffeeBean--ShopName {
      img {
        width: auto;
        height: 60px;
      }
      span {
        line-height: 60px;
        margin-left: 12px;
      }
    }

    .CoffeeBeanPage--CoffeeBean--SelectButton {
      text-align: right;

      button {
        border-radius: $radius;
        background: $color-text-attention;
        color: $color-white;
        padding: 12px;
        cursor: pointer;

        &[disabled] {
          background: $color-divider;
        }
      }
    }
  }

  table,
  tr,
  td,
  th {
    border: $border;
  }
  table {
    width: 100%;
  }
  td {
    padding: 4px;
  }
}
