@import 'application/vars';
@import 'components/CoffeeBeanSelectButton';
@import 'components/ShopCard';
@import 'components/Navigation';

.CoffeeBeanPage {
  $height-header: 65px;
  max-width: 560px;
  margin: 0 auto;

  .CoffeeBeanPage--Content {
    padding-bottom: $height-header;

    .CoffeeBeanPage--Content--CoffeeBeanImage {
      img {
        width: 100%;
        height: auto;
      }
    }

    .CoffeeBeanPage--Content--CoffeeBean {
      padding: 12px;
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      h1 {
        font-size: 1.5rem;
        font-weight: $font-bold;
        margin-bottom: 12px;
      }

      p {
        margin: 12px 0;
      }

      .CoffeeBeanSelectButton {
        margin: 12px 0;
      }

      .CoffeeBeanPage--Content--CoffeeBean--ShopName {
        img {
          width: auto;
          height: 60px;
        }
        span {
          line-height: 60px;
          margin-left: 12px;
        }
      }
    }

    table,
    tr,
    td,
    th {
      border: $border;
    }
    table {
      width: 100%;
    }
    td {
      padding: 4px;
    }
  }

  .Navigation {
    height: $height-header;
  }
}
