@import 'application/vars';

.CoffeeBeanSelectButton {
  border-radius: $radius;
  background: $color-text-attention;
  color: $color-white;
  padding: 12px;
  cursor: pointer;

  &.CoffeeBeanSelectButton__Disabled {
    background: $color-divider;
  }

  &.CoffeeBeanSelectButton__Loading {
    background: $color-divider;
  }
}
