@import 'application/vars';

.CoffeeBeanSelectButton {
  border-radius: 32px;
  background: $color-white;
  border: solid 2px $color-text;
  padding: 8px 16px;
  cursor: pointer;

  &.CoffeeBeanSelectButton__Disabled {
    background: $color-divider;
  }

  &.CoffeeBeanSelectButton__Loading {
    background: $color-divider;
  }
}
