@import 'application/vars';

.HomePage {
  .HomePage--Header {
    display: inline-block;
    width: 100%;

    .HomePage--Header--Content {
      display: flex;
      padding: 16px 8px;
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .HomePage--Header--Content--Heading {
        /* TODO: update */
        flex: 1;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: -0.3px;
      }

      .HomePage--Header--Content--SignIn {
        display: inline-block;

        .HomePage--Header--Content--SignIn--Link {
          display: inline-block;
          padding: 12px 8px;
        }
      }

      .HomePage--Header--Content--SignUp {
        display: inline-block;

        .HomePage--Header--Content--SignUp--Link {
          display: inline-block;
          padding: 12px 8px;
        }
      }
    }
  }

  .HomePage--Message {
    background: $color-background;

    .HomePage--Message--Content {
      padding: 48px 12px 96px;
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;
    }
  }

  .HomePage--Navigation {
    .HomePage--Navigation--List {
      display: inline-block;

      .HomePage--Navigation--List--Item {
        display: inline-block;
        padding: 12px 8px;
      }
    }
  }

  .HomePage--Steps {
    .HomePage--Steps {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;
    }
  }

  .HomePage--Plan {
    .HomePage--Plan--List {
      .HomePage--Plan--List--Item {
        display: inline-block;
        border: $border;
        width: 280px;
      }
    }
  }

  .HomePage--CoffeeBeans {
    .HomePage--CoffeeBeans--List {
      .HomePage--CoffeeBeans--List--Item {
        display: inline-block;
        border: $border;
        width: 280px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
