@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/CoffeeBeanCard';

.ShopPage {
  .ShopPage--CoffeeBean {
    padding: 16px 8px;
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    .ShopPage--CoffeeBean--List {
      display: flex;

      .ShopPage--CoffeeBean--List--Item {
        display: inline-block;
        flex: 1;
        padding: 12px;
      }
    }
  }

  img {
    width: 100%;
  }
}
