@import 'application/vars';
@import 'components/Navigation';

html,
body,
.application {
  width: 100%;
  height: 100%;
}

.CoffeeBeansPage {
  $height-header: 65px;
  width: 100%;
  height: 100%;
  max-width: 560px;
  margin: 0 auto;

  .CoffeeBeansPage--Content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-bottom: $height-header;

    .CoffeeBeansPage--Content--CoffeeBeanList {
      width: 100%;
      height: 100%;

      .CoffeeBeansPage--Content--CoffeeBeanList--Item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 2);
        height: calc(100% / 3);
        overflow: hidden;

        .CoffeeBeansPage--Content--CoffeeBeanList--Item--Image {
          width: 100%;
          height: 100%;

          .CoffeeBeansPage--Content--CoffeeBeanList--Item--Image--Placeholder {
            position: relative;
            width: 100%;
            height: 100%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: auto;
              height: 100%;
            }
          }
        }

        .CoffeeBeansPage--Content--CoffeeBeanList--Item--Content {
          position: absolute;
          display: inline-block;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 12px;
          color: $color-white;
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
