@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/CoffeeBeanCard';

.WelcomePage {
  .WelcomePage--Message {
    background: $color-background;

    .WelcomePage--Message--Content {
      padding: 48px 12px 96px;
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;
    }
  }

  .WelcomePage--Navigation {
    .WelcomePage--Navigation--List {
      display: inline-block;

      .WelcomePage--Navigation--List--Item {
        display: inline-block;
        padding: 12px 8px;
      }
    }
  }

  .WelcomePage--Steps {
    padding: 24px 0 48px;

    .WelcomePage--Steps--Content {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .WelcomePage--Steps--Content--Heading {
        font-size: 1.5rem;
        text-align: center;
        padding: 8px 0 32px;
      }

      .WelcomePage--Steps--Content--List {
        display: flex;

        .WelcomePage--Steps--Content--List--Item {
          display: inline-block;
          flex: 1;
          padding: 12px;

          .WelcomePage--Steps--Content--List--Item--Step {
            width: 100%;
            height: 100%;
            border: $border;
            padding: 12px;

            h3 {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }

  .WelcomePage--Plans {
    padding: 24px 0 48px;
    background: $color-background;

    .WelcomePage--Plans--Content {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .WelcomePage--Plans--Content--Heading {
        font-size: 1.5rem;
        text-align: center;
        padding: 8px 0 32px;
      }

      .WelcomePage--Plans--Content--List {
        display: flex;

        .WelcomePage--Plans--Content--List--Item {
          display: inline-block;
          flex: 1;
          padding: 12px;

          .WelcomePage--Plans--Content--List--Item--Plan {
            width: 100%;
            height: 100%;
            border: $border;
            padding: 12px;
            background: $color-white;

            h3 {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }

  .WelcomePage--CoffeeBeans {
    padding: 24px 0 48px;

    .WelcomePage--CoffeeBeans--Content {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .WelcomePage--CoffeeBeans--Content--Heading {
        font-size: 1.5rem;
        text-align: center;
        padding: 8px 0 32px;
      }

      .WelcomePage--CoffeeBeans--Content--List {
        display: flex;

        .WelcomePage--CoffeeBeans--Content--List--Item {
          display: inline-block;
          flex: 1;
          padding: 12px;

          .WelcomePage--CoffeeBeans--Content--List--Item--Roaster {
            img {
              width: auto;
              height: 2rem;
            }
          }
        }
      }
    }
  }
}
